@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: #757575;
}
::-webkit-scrollbar-thumb{
    background-color: #101;
}
@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
body {
    font-family: "Alkatra", cursive;
    background-color: #222;
    color: #bebebf;
}
.pai {
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.registro{
    box-shadow: 4px 6px 10px #bdbdbd;
    border: 2px solid #757575;
    width: 600px;
    padding: 20px;
    margin-top: 30px;
    animation: entrada 0.9s ease-in-out;
    border-radius: 8px;
    max-height: 950px;
    display: flex;
    flex-direction: column;
}
.registro h2{
    text-align: center;
    font-size: 46px;
}
.registro >div{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    overflow: hidden;
}
.registro img{
    width: 350px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid transparent;
    background: linear-gradient(#d39e33, #ed5636, #101) padding-box,
    linear-gradient(260deg, #757575, #ed5636, #633bbc) border-box;
    transition: 0.3s ease-in-out;
}
.registro img:hover{
    transform: scale(1.1);
}
.caixa{
    box-shadow: 4px 6px 10px #bdbdbd;
    border: 2px solid #757575;
    width: 600px;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    animation: entrada 0.9s ease-in-out;
    overflow-y: scroll;
    max-height: 950px;
    border-radius: 8px;
}
.caixa h2 {
    text-align: center;
    font-size: 46px;
}
.status {
    border:2px solid #bdbdbd;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 3px;
    font-size: 20px;
    border-radius: 15px;
}